li {
    color: white;
}

li a {
    color: white;
}

div.container {
	background: white url("images/background2.jpg") no-repeat;
}

h1 {
    color:white;
}

body {
    background: white url("images/background2.jpg") no-repeat;
}

label {
    color:white;
}

p {
    color: white;
}